services:
  postgres:
    image: postgres:18-trixie
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5436:5432"
    volumes: 
      - ./init:/docker-entrypoint-initdb.d
  redis:
    image: redis:7
    container_name: redis_db
    restart: unless-stopped
    ports:
      - "6379:6379"
  
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: unless-stopped
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
  